<!DOCTYPE html>

{% load staticfiles %}

<html>

<head lang="en">
  <meta charset="UTF-8">
  <title>
    {% block title %}
    The home away from home of student grub
    {% endblock %}
    | Bellyoak
  </title>

  {% block head %}
  {% endblock %}
</head>

<body>
  {% block body %}
  {% endblock %}
  <hr>
  <a href="{% url 'index' %}">Home</a>
  <a href="{% url 'recipe_add' %}">New recipe</a>
  <a href="{% url 'recipes_list' %}">Recipes</a>
  <a href="{% url 'users_list' %}">Users</a>
  <a href="{% url 'about' %}">About</a>
</body>

</html>
