{% extends 'bellyoak/base.html' %}

{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/djanky-formsets.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
<script>
  window.jQuery || document.write("<script src=\"{% static 'js/jquery.min.js' %}\"><\/script>");
</script>

<script src="{% static 'js/djanky-formsets.js' %}"></script>
{% endblock %}
