{% extends 'bellyoak/base.html' %}

{% load staticfiles %}

{% block title %}
Recipes
{% endblock %}

{% block body %}
<h1>Recipes</h1>
<div>
  <ul>
    <!-- Following for clause repeated in index.html -->
    <!-- Keep it DRY -->
    {% for recipe in recipes %}
    <li>
      <!-- Following statements repeated in index.html and recipe_show.html -->
      <!-- Keep it DRY -->
      {% with word_count=recipe.title|truncatechars:64|wordcount %}
      {% if recipe.title|truncatewords:word_count|length > 80 %}
      <a href="{% url 'recipe_show' recipe.id %}">{{ recipe.title|truncatechars:80 }}</a>
      {% else %}
      <a href="{% url 'recipe_show' recipe.id %}">{{ recipe.title|truncatewords:word_count }}</a>
      {% endif %}
      {% endwith %}
      ({{ recipe.views }} view{{ recipe.views|pluralize }})
      ({{ recipe.likes }} like{{ recipe.likes|pluralize }})
      {% if recipe.diet != recipe.Diet.NONE %}
      ({{ recipe.get_diet_display }})
      {% endif %}
      {% with word_count=recipe.description|truncatechars:128|wordcount %}
      {% if recipe.title|truncatewords:word_count|length > 144 %}
      <p>{{ recipe.description|truncatechars:128 }}</p>
      {% else %}
      <p>{{ recipe.description|truncatewords:word_count }}</p>
      {% endif %}
      {% endwith %}
    </li>
    {% empty %}
    <p>
      We currently have no recipes listed. Why not
      <span>
        <a href="{% url 'recipe_add' %}">add one of your own</a>?
      </span>
    </p>
    {% endfor %}
  </ul>
</div>
{% endblock %}
